.tabsContainer {
	width: 800px;
  margin: 0 auto;
	box-sizing: border-box;
}

.tabs {
	margin-left: 20px;
}

.tab {
	background: #d0d0d0;
	border: none;
	margin: 0 5px;
	padding: 5px 10px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	font-size: 15px;
	cursor: pointer;

	&.active {
		background: #fff;
	}

	&.disabled {
		opacity: 0.5;
		pointer-events: none;
	}
}

.content {
	box-shadow: 1px 1px 6px #00000040;
	border-radius: 6px;
	background: #fff;
	padding: 20px;
}
